
@font-face{
    font-family: 'Boogaloo';
    src:url("fonts/Boogaloo-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Boogaloo', serif;
    background:#FFBF64;
}

#board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 150px);
}

.ticTac{
    background-color: #8DD7BF;
    font-size: 100px;
    font-family:'Boogaloo',sans-serif;
}
.activator{
    justify-content: center;
    background: #00A5E3;
    font-size: 30px;
    font-family:'Boogaloo',sans-serif
}
#joshua{
    justify-content: center;
    display:flex;
}

#displayWinner{
    font-size: 100px;
    color:#FF5768;
}
#nabil{
    justify-content: center;
    display:flex;
}
#nas{
    justify-content: center;
    display:flex;
}
#turn{
    font-size: 50px
}
